<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">
                Sobre nós:
            </h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lectus nibh, molestie vitae augue eu, fringilla placerat tellus. Nulla finibus condimentum felis, non rutrum dui aliquam at. Curabitur interdum neque justo, ut scelerisque ante consequat sit amet. Mauris euismod feugiat vehicula. Donec efficitur vulputate lectus eu euismod. Vestibulum viverra sem at diam consectetur, eget finibus neque porttitor. Vestibulum imperdiet mi finibus, venenatis lacus efficitur, efficitur augue. Quisque semper nec nunc a molestie. Duis accumsan ipsum ac dapibus tincidunt. Sed ut vestibulum elit.
            </p>
        </section>
        <address>
            <h2 class="footer__title">
                Contato:
            </h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email.email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00)99999-9999</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00)99999-9999</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
